<!DOCTYPE html>
<html>
<head>
  <!--<link rel="stylesheet"  href="/assets/login_style.css">-->
  
  <title>mentor mate app</title>
</head>
<body>
  <div>
    <label class ="text-center"><%= data.username %></label>
    <ul>
      <li><b>name          :<b/><%= data.name %> </li>
      <li><b>address       :<b/><%= data.address %> </li>
      <li><b>enrollment_no :<b/><%= data.enrollment_no %> </li>
      <li><b>contact       :<b/><%= data.contact %> </li>
      <li><b>date of birth :<b/><%= data.dob %> </li>

    </ul>
    <a name="edit" href ="/api/home/edit">Edit profile</a>
  </div>
  <div>
    
  </div>
</body>
</html>